@model List<SpellsReference.Models.Spellbook>

@{
    ViewBag.Title = "Spellbook Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.ActionLink("Create Spellbook", "Create", "Spellbook", null, new { @class = "btn btn-outline-primary btn-lg mb-2" })

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spellbook in Model)
        {
            <tr>
                <td>@spellbook.Name</td>
                <td>@Html.ActionLink("Select", "Select", "Spellbook", new { id = spellbook.Id }, new { @class = "btn btn-info btn-sm" })</td>
            </tr>
        }
    </tbody>
</table>